{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block title %}Listing: {{auction.title}}{% endblock %}

{% block body %}
<div class="container-md">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col"> 
                            <div style="text-align:start;"> 
                                <h6 class="card-subtitle mb-2 text-muted">{{ auction.category }}</h6>
                                <p class="card-subtitle mb-2 text-muted"> Sold by : {{ auction.user}}</p>
                                <p class="card-subtitle mb-2 text-muted"> Listing No : {{ auction.pk}}</p>
                            </div>                         
                        </div>
                        <div class="col">
                            <div style="text-align:center;" >
                                <h2 class="card-title">{{ auction.title }}</h2>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-image" style="text-align:end;">
                                {% if auction.is_active %}  
                                    <a href="#" data-toggle="tooltip" data-placement="auto" title="Listing is active!">                                                              
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="Green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8"/>
                                        </svg>    
                                    </a>                            
                            {% else %}
                                <a href="#" data-toggle="tooltip" data-placement="auto" title="Listing is closed!">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="Red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8"/>
                                    </svg>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <img class="card-img-bis" src="{{ auction.image }}" alt="image" style="padding-left: 10px;">
                        </div>
                        <div class="col-md-5">
                            <div class="card align-items-center" style="width: 20rem; height: auto; margin-top:10px">
                                <div class="card-body">  
                                    {% if not auction.current_bid is None %}                                     
                                        <p><del>Initially sold at : {{auction.initial_bid }} $</del> </p>
                                        {% if auction.is_active %}                           
                                            <p><strong>Currently at : {{ auction.current_bid }} $ </strong></p>
                                        {% else %}
                                        <p><del>Sold at : {{ auction.current_bid }} $ </del></p>
                                        {% endif %}
                                    {% else %}
                                        <p>Initially sold at : {{auction.initial_bid }} $</p>
                                    {% endif %}
                                    {% if user.is_authenticated and auction.is_active %}
                                        <div>
                                            <form action="{% url 'place_bid' auction.pk %}" method="POST">
                                                {% csrf_token %}
                                                {{ form_bid | crispy }}
                                                <br>
                                                <input type="submit" class="btn btn-outline-secondary btn-sm" value="Place Bid">
                                            </form>
                                        </div>
                                    {% endif %}
                                    <br>
                                    {% if user.is_authenticated %}
                                        <div>
                                            {% if not watched %}
                                                <a href="{% url 'add_to_watchlist' auction.pk %}">Add to my watchlist</a>
                                            {% else %}
                                                <a href="{% url 'remove_from_watchlist' auction.pk %}">Remove from my watchlist</a>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <div>
                                            {% if auction.is_active == True %}
                                                {% if user == auction.user%}
                                                    <a href="{% url 'close_auction' auction.pk %}">Close</a>
                                                {% else %}
                                                    <p> Listing is still active </p>
                                                {% endif %}
                                            {% else %}
                                                <p> Listing is closed </p>
                                                {% if user == auction.winner %}
                                                    <div class="winner">
                                                        <p class="greet_winner"><strong>Congratulations : you've won !</strong></p>
                                                    </div>                                                                                            
                                                {% else %}
                                                    <p><strong>Winner : {{ auction.winner }}</strong></p>
                                                {% endif %}                                      
                                            {% endif %}
                                        </div>
                                        <br>
                                    {% else %}
                                        <div>
                                            <p><strong>Results : Registered only...</strong></p>
                                            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">
                                      Description</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">
                                      Comments</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="bidders-tab" data-bs-toggle="tab" data-bs-target="#bidders" type="button" role="tab" aria-controls="bidders" aria-selected="false">
                                        Bidders</button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                    <div class="card-text" style="text-align:center;">
                                        <h6>{{auction.title}}</h6>
                                        <p>{{auction.description}}</p> 
                                        <p>Sold by {{auction.user}}</p>
                                        <p>Listing initiated on {{auction.date}}</p>
                                    </div>                                    
                                </div>
                                <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">                                    
                                    {% if comments %}
                                        <div class="cart-text">                        
                                            {% for comment in comments %}
                                                <hr>
                                                <p> {{ comment.comment}} </p>
                                                <p class="text-muted">Commented by {{ comment.user }} on {{ comment.date }}</p>
                                                <hr>                          
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="card-text">
                                            <p> Currently no comments...</p>
                                        </div>
                                    {% endif %}  
                                    {% if user.is_authenticated %} 
                                        <div>
                                            <form action="{% url 'comment' auction.pk %}" method="POST">
                                                {% csrf_token %}
                                                {{ form_comment | crispy }}
                                                <input type="submit" value="Post">
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="bidders" role="tabpanel" aria-labelledby="bidders-tab">
                                    {% if bids %}
                                        {% for b in bids %}
                                            <div class="card-text">
                                                <p>{{ b.bid }} $ by {{ b.user }} ({{ b.date }})</p>                                               
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>Currently no bidders...</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>      
{% endblock %}